* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(25,25, 27);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
